@use './util' as u;
@use './variables' as v;
@use './text-input';
@use './submit-button';
@use './destination-bar.scss';
@use './footer';
@use './loader';
@use './trip-summary.scss';
@use './swal-theme';

html * {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 345px;
  width: 100vw;
  color: #fff;
  background: v.$site-background-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

h1 {
  font-weight: 400;
  padding: 0;
  margin: 0;
}

main {
  align-self: center;
  justify-self: center;
}

button {
  @include u.button-common;
}
