@use 'variables' as v;

.trip-summary {
  font-weight: 300;
  min-width: 100vw;
  min-height: 74vh;
  margin: 2rem;
  display: flex;
  flex-direction: column;

  &__banner {
    min-width: 100%;
  }

  &__text {
    margin: v.$standard-margin;
  }
}
